[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=mak
Exec=/usr/bin/invoker --type=d -s /opt/mak/bin/mak
Icon=/usr/share/icons/hicolor/80x80/apps/mak80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
